
                  <div class="row">
                    <div class="large-12 columns">
                      <label>Project Type</label>
                      <select>
                        <option value="---">---</option>
                        <option value="Website Design">Website Design</option>
                        <option value="other">Other</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-6 columns">
                      <label>Name</label>
                      <input type="text" placeholder="James Kirk" />
                    </div>
                    <div class="large-6 columns">
                      <label>Email</label>
                      <input type="text" placeholder="" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-6 columns">
                      <label>Location</label>
                      <input type="text" placeholder="" />
                    </div>
                    <div class="large-6 columns">
                      <label>Website</label>
                      <input type="text" placeholder="if made" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-6 columns">
                      <label>Concept</label>
                      <input type="radio" name="concept-new" value="New" id="concept-new">
                      <label for="concept-new">New</label>
                      <input type="radio" name="concept-re-design" value="Re-design" id="concept-re-design">
                      <label for="concept-re-design">Re-design</label>
                      <input type="radio" name="concept-other" value="Other" id="concept-other">
                      <label for="concept-other">Other</label>
                    </div>
                    <div class="large-6 columns">
                      <label>Pages</label>
                      <select>
                        <option value="---">---</option>
                        <option value="0 - 5">0 - 5</option>
                        <option value="5 - 10">5 - 10</option>
                        <option value="10 - 15">10 - 15</option>
                        <option value="15 - 20">15 - 20</option>
                        <option value="20+">20+</option>
                        <option value="NA">NA</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-6 columns">
                      <label>Domain</label>
                      <input type="radio" name="domain-yes" value="Yes" id="domain-yes">
                      <label for="domain-yes">Yes</label>
                      <input type="radio" name="domain-no" value="Yes" id="domain-no">
                      <label for="domain-no">No</label>
                      <input type="radio" name="domain-na" value="NA" id="domain-na">
                      <label for="domain-na">NA</label>
                    </div>
                    <div class="large-6 columns">
                      <label>Hosting</label>
                      <input type="radio" name="hosting-yes" value="Yes" id="hosting-yes">
                      <label for="hosting-yes">Yes</label>
                      <input type="radio" name="hosting-no" value="Yes" id="hosting-no">
                      <label for="hosting-no">No</label>
                      <input type="radio" name="hosting-na" value="NA" id="hosting-na">
                      <label for="hosting-na">NA</label>
                    </div>
                  </div>

                  <div class="row"> 
                    <div class="large-12 columns">
                        <label>Message</label>
                        <textarea placeholder="..."></textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-6 columns">
                      <label>Budget</label>
                      <select>
                        <option value="---">---</option>
                        <option value="$500 - $1000">$500 - $1000</option>
                        <option value="$1000 - $1500">$1000 - $1500</option>
                        <option value="$1500 - $2000">$1500 - $2000</option>
                        <option value="$2000 - $3000">$2000 - $3000</option>
                        <option value="$3000+">$3000+</option>
                        <option value="NA">NA</option>
                      </select>
                    </div>
                    <div class="large-6 columns">
                      <label>Timeframe</label>
                      <select>
                        <option value="---">---</option>
                        <option value="asap">ASAP</option>
                        <option value="1-2-months">1-2 Months</option>
                        <option value="3-4-months">3-4 Months</option>
                        <option value="Take your time">Take Your time</option>
                      </select>
                    </div>
                  </div>