<div id="footerfullwidth">
	<footer class="row container" role="banner">
		<div class="large-4 columns footer_1">
			<div class="text-center"><h4>Alexandra Swart</h4></div>
			<p class="footer_summary">Culpa, expedita, fugiat, similique ipsum quibusdam atque quis deleniti quia autem voluptates sequi doloribus nesciunt?</p>
		</div>
		<div class="large-4 columns footer_2">
		  <ul class="side-nav text-center">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Portfolio', main_pages_portfolio_path %></li>
        <li><%= link_to 'Blog', main_pages_current_path %></li>
        <li><%= link_to 'Contact', main_pages_contact_path %></li>
      </ul>
		</div>
		<div class="large-4 columns footer_3">
			<div class="text-center"><h4>Contact</h4></div>
			<p class="footer_summary">Culpa, expedita, fugiat, similique ipsum quibusdam atque quis deleniti quia autem voluptates sequi doloribus nesciunt?</p>
		</div>
	</footer>
</div>